*{
    margin: 0;
    padding: 0;
}
/**********************NavBar**********************/
.css-czr4cb-MuiToolbar-root {
    min-height: 46px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 5px !important;
    height: 20px !important;
}

